* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#intro .intro-poster {
  position: relative;
}
#intro .intro-poster .img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-size: auto 100%;
}
#intro .intro-poster .img.skier {
  left: 0;
  background-image: url(../img/skier.png);
  background-position: left;
}
#intro .intro-poster .img.biker {
  right: 0;
  background-image: url(../img/biker.png);
  background-position: center;
}
@media (min-width: 1200px) {
  #intro .intro-poster .img.biker {
    background-position: right;
  }
}
#intro .intro-poster .logo {
  margin-top: -60px;
  padding: 0;
  max-height: 400px;
  max-width: 30vw;
}
#intro .intro-poster p {
  font-family: var(--font-light);
}
#intro .intro-poster .links a:nth-child(1) {
  background-color: var(--color-summer);
}
#intro .intro-poster .links a:nth-child(2) {
  background-color: var(--color-winter);
}
#intro .circles > .wheel {
  width: 45vw;
  height: 45vw;
}
#intro .circles > .circle:nth-child(2) {
  width: 50vw;
  height: 50vw;
}
#intro .circles > .circle:nth-child(3) {
  width: 60vw;
  height: 60vw;
}
#intro .circles > .circle:nth-child(4) {
  width: 70vw;
  height: 70vw;
}

#wypozyczalnia-kajakow .grid > .container p,
#szkola .grid > .container p,
#szkola-kajakarstwa .grid > .container p,
#rafting .grid > .container p,
#splywy-kajakowe .grid > .container p {
  font-family: var(--font-light);
}

#slider-main {
  overflow: hidden;
  position: relative;
}
#slider-main > .slide {
  z-index: 0;
  visibility: visible;
  opacity: 0;
  background-size: cover;
}
#slider-main .pagin {
  position: absolute;
  margin: 30px 0;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 5;
}
#slider-main .pagin .item {
  display: inline-block;
  margin: 0 10px;
  padding: 4px;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 4px;
  border-radius: 50%;
  background-origin: content-box;
  background-clip: content-box;
  -webkit-transition: background .5s linear;
  transition: background .5s linear;
  cursor: pointer;
}

#rafting .wrapper .picture {
  background-size: cover;
}

#splywy-kajakowe .container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-justify: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: initial;
}
#splywy-kajakowe .container .wrapper .item {
  position: relative;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 280px;
  padding: 10px;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  background-origin: content-box;
  overflow: hidden;
  font-family: var(--font-bold);
}
#splywy-kajakowe .container .wrapper .item .hitbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 10;
  margin: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
  background-color: rgba(0, 0, 0, 0.7);
}
#splywy-kajakowe .container .wrapper .item .hitbox .btn {
  margin: auto;
  padding: 10px 20px;
  color: #fff;
  border: solid 1px #fff;
  white-space: nowrap;
  letter-spacing: 2px;
}
#splywy-kajakowe .container .wrapper .item .hitbox, #splywy-kajakowe .container .wrapper .item .hitbox * {
  cursor: pointer;
}
#splywy-kajakowe .container .wrapper .item .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 5;
  margin: 0 10px 10px;
  padding: 10px;
  height: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
#splywy-kajakowe .container .wrapper .item:hover .hitbox {
  opacity: 1;
}
@media (min-width: 768px) {
  #splywy-kajakowe .container .wrapper .item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
@media (min-width: 1280px) {
  #splywy-kajakowe .container .wrapper .item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

#newsletter {
  margin: 100px 40px;
}
#newsletter .return {
  display: inline-block;
  margin-top: 30px;
}

footer .line_sep {
  border-bottom: 1px solid #666;
}
footer .kontakt .inner {
  min-height: 76px;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer .kontakt .inner .item {
  padding: 0 16px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-family: var(--font-regular);
}
footer .kontakt .inner .item .icon {
  padding-right: 27px;
}
footer .kontakt .inner .item .icon.mobile {
  font-size: 50px;
}
footer .kontakt .inner .item .icon.phone, footer .kontakt .inner .item .icon.marker, footer .kontakt .inner .item .icon.mail {
  font-size: 35px;
}
footer .postext {
  padding: 50px 0 10px;
  text-align: justify;
  font-size: 18px;
  font-family: var(--font-regular);
}
footer .postext * {
  line-height: 30px;
}
footer .postext .textwidget {
  padding: 0 15px;
}

.rezerwuj-single .grid .container .wrapper .details .personal .check2 {
  margin-bottom: 24px;
}
.rezerwuj-single .grid .container .wrapper .details .personal .check-row {
  padding: 10px 20px;
}

body.lato .theme-color {
  color: var(--color-winter);
}
body.lato .theme-bg {
  background-color: var(--color-winter);
}
body.lato .theme-border {
  border-color: var(--color-winter);
}
body.lato header nav .menu .dropdown .drop-container .item a:hover {
  background-color: var(--color-winter);
}
@media (min-width: 1440px) {
  body.lato header nav .nav-end .season.winter {
    background-color: var(--color-winter);
  }
}
body.lato header #slider-main .pagin .item {
  border-color: var(--color-winter);
}
body.lato header #slider-main .pagin .item.active {
  background-color: var(--color-winter);
}
body.lato header footer .kontakt .icon {
  color: var(--color-winter);
}
body.lato #oferta-single .single .container .content h1, body.lato #oferta-single .single .container .content h2, body.lato #oferta-single .single .container .content h3, body.lato #oferta-single .single .container .content h4, body.lato #oferta-single .single .container .content h5, body.lato #oferta-single .single .container .content h6 {
  color: var(--color-winter);
}
body.lato #oferta-single .single .container .content ul li::before {
  border: 2px solid var(--color-winter);
}
body.lato #oferta-single .single .kafelki {
  margin: 0;
}
body.lato #oferta-single .single .kafelki .title span {
  color: var(--color-winter);
}
body.zima .theme-color {
  color: var(--color-summer);
}
body.zima .theme-bg {
  background-color: var(--color-summer);
}
body.zima .theme-border {
  border-color: var(--color-summer);
}
body.zima header nav .menu .dropdown .drop-container .item a:hover {
  background-color: var(--color-summer);
}
@media (min-width: 1440px) {
  body.zima header nav .nav-end .season.winter {
    background-color: var(--color-summer);
  }
}
body.zima header #slider-main .pagin .item {
  border-color: var(--color-summer);
}
body.zima header #slider-main .pagin .item.active {
  background-color: var(--color-summer);
}
body.zima header footer .kontakt .icon {
  color: var(--color-summer);
}
body.zima #oferta-single .single .container .content h1, body.zima #oferta-single .single .container .content h2, body.zima #oferta-single .single .container .content h3, body.zima #oferta-single .single .container .content h4, body.zima #oferta-single .single .container .content h5, body.zima #oferta-single .single .container .content h6 {
  color: var(--color-summer);
}
body.zima #oferta-single .single .container .content ul li::before {
  border: 2px solid var(--color-summer);
}
body.zima #oferta-single .single .kafelki .title span {
  color: var(--color-summer);
}
body header .poster .content h2 {
  text-shadow: none;
}
body header .nav-act .grid .container .bar .select {
  padding: 0;
}
body header .nav-act .grid .container .bar .select .select-head {
  padding: 0 20px;
}
body header .nav-act .grid .container .bar .select .select-options .option {
  padding: 0 20px;
}
@media (max-width: 767px) {
  body header .nav-act .grid .container .bar {
    height: initial;
  }
  body header .nav-act .grid .container .bar .select {
    padding: 0;
  }
  body header .nav-act .grid .container .bar .select, body header .nav-act .grid .container .bar .select:nth-of-type(2) {
    -ms-flex-preferred-size: initial;
        flex-basis: initial;
  }
  body header .nav-act .grid .container .bar .select .select-head {
    padding: 20px 5px;
  }
  body header .nav-act .grid .container .bar .select .select-options {
    position: static;
    display: block;
  }
  body header .nav-act .grid .container .bar .select .select-options .option {
    margin: 10px 5px;
    border: solid 1px #fff !important;
  }
}
body header nav .menu .dropdown .drop-container .item a {
  height: 60px;
  padding: 0 20px 0 40px;
  font-family: var(--font-bold);
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}
body header nav .menu .dropdown .drop-container .item a img {
  padding-left: 20px;
}
body header nav .menu .dropdown .drop-container .item a:hover {
  color: #fff;
}

#oferta-single .single .container .content {
  text-align: initial;
  font-family: var(--font-regular);
  line-height: 1.5em;
}
#oferta-single .single .container .content h1, #oferta-single .single .container .content h2, #oferta-single .single .container .content h3, #oferta-single .single .container .content h4, #oferta-single .single .container .content h5, #oferta-single .single .container .content h6 {
  font-family: var(--font-bold);
  padding: 20px 0;
}
#oferta-single .single .container .content h3 {
  font-size: 1.17em;
}
#oferta-single .single .container .content strong {
  display: inline-block;
  font-family: var(--font-regular);
  line-height: 1.5em;
}
#oferta-single .single .container .content p {
  padding: initial;
  font-size: 1em;
}
#oferta-single .single .container .content ul {
  list-style: none;
  padding: 30px 0;
}
#oferta-single .single .container .content ul li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 30px;
  line-height: 2em;
}
#oferta-single .single .container .content ul li::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
#oferta-single .single .kafelki {
  margin: 50px 0;
}
#oferta-single .single .kafelki .title {
  padding: 20px 0;
  text-align: center;
  color: initial;
  font-family: var(--font-medium);
}
#oferta-single .single .kafelki .item {
  position: relative;
  height: 280px;
  padding: 10px;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  background-origin: content-box;
  overflow: hidden;
  font-family: var(--font-bold);
}
#oferta-single .single .kafelki .item .hitbox {
  position: absolute;
  margin: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
#oferta-single .single .kafelki .item .hitbox, #oferta-single .single .kafelki .item .hitbox * {
  cursor: pointer;
}
#oferta-single .single .kafelki .item .hitbox .btn {
  margin: auto;
  padding: 10px 20px;
  color: #fff;
  border: solid 1px #fff;
  white-space: nowrap;
  letter-spacing: 2px;
}
#oferta-single .single .kafelki .item .name {
  position: absolute;
  z-index: 5;
  margin: 0 10px 10px;
  padding: 10px;
  height: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
#oferta-single .single .kafelki .item:hover .hitbox {
  opacity: 1;
}
#oferta-single .single .tabela > .info .bar .head {
  padding: 0 20px;
  height: 74px;
  -webkit-box-shadow: 0 0 0px 1px #ebebeb inset;
          box-shadow: 0 0 0px 1px #ebebeb inset;
}
#oferta-single .single .tabela > .info .bar .head .icon {
  max-width: 46px;
  max-height: 46px;
}
#oferta-single .single .tabela > .info .bar .head .text {
  padding-left: 20px;
  font-size: 16px;
  font-family: var(--font-bold);
}
#oferta-single .single .tabela > .info .bar .body {
  padding: 34px 20px;
  family: var(--font-medium);
}
#oferta-single .single .tabela > .info .bar .body ul {
  list-style: none;
}
#oferta-single .single .tabela > .info .bar .body * {
  line-height: 30px;
}
#oferta-single .single .zakladki .top {
  padding: 50px 0;
}
#oferta-single .single .zakladki .top .img img {
  max-width: 200px;
}
#oferta-single .single .zakladki .top .text {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font-bold);
}
#oferta-single .single .zakladki .head {
  border-style: solid;
  border-width: 0 0 6px 0;
}
#oferta-single .single .zakladki .head .item {
  position: relative;
  -webkit-transition-property: background, font;
  transition-property: background, font;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  padding: 0 16px;
  height: 74px;
  cursor: pointer;
  font-size: 18px;
  font-family: var(--font-medium);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
#oferta-single .single .zakladki .head .item:not(:hover):not(.active) {
  background-color: transparent;
  color: #2d2d2d;
}
@media (min-width: 1024px) {
  #oferta-single .single .zakladki .head .item:not(:last-child)::before {
    content: '';
    position: absolute;
    margin: 20px 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: inherit;
  }
}
#oferta-single .single .zakladki .tabs .item {
  padding: 60px 0;
  font-family: var(--font-medium);
  font-size: 16px;
}
#oferta-single .single .zakladki .tabs .item strong {
  font-family: var(--font-bold);
  font-size: 18px;
}
#oferta-single .single .zakladki .tabs .item, #oferta-single .single .zakladki .tabs .item * {
  line-height: 30px;
}
#oferta-single .single .zakladki .tabs .item:not(.active) {
  display: none;
}
#oferta-single .single .zakladki .tabs .item.program_kursu ul {
  list-style: none;
}
#oferta-single .single .zakladki .tabs .item.program_kursu ul li {
  position: relative;
  padding-left: 40px;
  margin: 20px 0;
}
#oferta-single .single .zakladki .tabs .item.program_kursu ul li::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/icons/czas.png);
}
#oferta-single .single .zakladki .tabs .item.dlaczego_kurs ul, #oferta-single .single .zakladki .tabs .item.informacje ul, #oferta-single .single .zakladki .tabs .item.cennik ul {
  list-style: none;
  border-color: inherit;
}
#oferta-single .single .zakladki .tabs .item.dlaczego_kurs ul li, #oferta-single .single .zakladki .tabs .item.informacje ul li, #oferta-single .single .zakladki .tabs .item.cennik ul li {
  position: relative;
  padding-left: 40px;
  margin: 20px 0;
  border-color: inherit;
}
#oferta-single .single .zakladki .tabs .item.dlaczego_kurs ul li::before, #oferta-single .single .zakladki .tabs .item.informacje ul li::before, #oferta-single .single .zakladki .tabs .item.cennik ul li::before {
  content: '';
  position: absolute;
  margin-top: 15px;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: inherit;
  border-radius: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#oferta-single .single .galeria .item {
  position: relative;
  display: block;
  padding: 6px;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  background-origin: content-box;
}
#oferta-single .single .galeria .item .hitbox {
  position: absolute;
  margin: 6px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#kontakt .notify {
  padding: 10px 20px;
  color: #fff;
  text-align: center;
  font-family: var(--font-medium);
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;
}
#kontakt .notify.success {
  background-color: #178217;
}
#kontakt .notify.fail {
  background-color: #990000;
}
#kontakt .notify, #kontakt .notify * {
  cursor: pointer;
}

#aktualnosci .aktualnosci .share {
  position: relative;
}
#aktualnosci .aktualnosci .share > .icon {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
#aktualnosci .aktualnosci .share .text {
  font-size: 12px;
  font-family: var(--font-third-bold);
  text-transform: uppercase;
}
#aktualnosci .aktualnosci .share .links {
  position: absolute;
  left: 0;
  top: 100%;
}
#aktualnosci .aktualnosci .share .links .link {
  display: inline-block;
  margin: 10px;
  font-size: 40px;
}
#aktualnosci .aktualnosci .share:not(:hover) .links {
  display: none;
}
#aktualnosci .aktualnosci .share, #aktualnosci .aktualnosci .share * {
  cursor: pointer;
}

/*# sourceMappingURL=override.css.map */