*{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#intro
{
	
	.intro-poster{
		position: relative;
		
		.img{
			position: absolute;
			top: 0;
			bottom: 0;
			width: 50%;
			background:{
				size: cover;
				repeat: no-repeat;
				position: center;
			};
			
			&.skier{
				left: 0;
				
			}
			
			&.biker{
				right: 0;
				
			}
			
		}
		
		.logo{
			margin-top: -60px;
			padding: 0;
			max-height: 400px;
			max-width: 20vw;
			min-width: 150px;
			
		}
		
		p{
			font-family: var(--font-light);
			
		}
		
		.links{
			
			a{
				
				&:nth-child(1){
					background-color: var(--color-summer);
					
				}
				
				&:nth-child(2){
					background-color: var(--color-winter);
					
				}
				
			}
			
		}
		
		.circles{
			
			.circle{
				background-color: rgba(255,255,255,.8);
				border: none;
				
			}
			
		}
		
	}
	
	.circles{
		
		& > .wheel{
			width: 25vw;
			min-width: 200px;
			height: 25vw;
			min-height: 200px;
			background-color: rgba( 255, 255, 255, 1 );
			
		}
		
		& > .circle{
			
			&:nth-child(2){
				width: 30vw;
				min-width: 230px;
				height: 30vw;
				min-height: 230px;
				opacity: 1;
				
			}
			
			&:nth-child(3){
				width: 40vw;
				min-width: 270px;
				height: 40vw;
				min-height: 270px;
				opacity: 0.75;
				
			}
			
			&:nth-child(4){
				width: 50vw;
				min-width: 300px;
				height: 50vw;
				min-height: 300px;
				opacity: 0.5;
				
			}
			
		}
		
	}
	
}

#wypozyczalnia-kajakow,
#szkola,
#szkola-kajakarstwa,
#rafting,
#splywy-kajakowe
{
	
	.grid{
		
		& > .container{
			
			p{
				font-family: var(--font-light);
				
			}
		
		}
		
	}
	
}

#slider-main
{
	overflow: hidden;
	position: relative;
	
	& > .slide{
		z-index: 0;
		visibility: visible;
		opacity: 0;
		background-size: cover;
		
	}
	
	.pagin{
		position: absolute;
		margin: 30px 0;
		bottom: 0;
		z-index: 5;
		
		.item{
			display: inline-block;
			margin: 0 10px;
			padding: 4px;
			width: 30px;
			height: 30px;
			border:{
				style: solid;
				width: 4px;
			};
			border-radius: 50%;
			background:{
				origin: content-box;
				clip: content-box;
			};
			transition: background .5s linear;
			cursor: pointer;
			
		}
		
	}
	
}

#rafting
{
	
	.wrapper{
		
		.picture{
			background-size: cover;
			
		}
		
	}
	
}

#splywy-kajakowe
{
	
	.container{
		
		.wrapper{
			display: flex;
			align-justify: center;
			flex-wrap: wrap;
			max-width: initial;
			
			.item{
				position: relative;
				flex-basis: 100%;
				height: 280px;
				padding: 10px;
				background:{
					size: cover;
					position: center;
					clip: content-box;
					origin: content-box;
					
				};
				overflow: hidden;
				font-family: var(--font-medium);
				
				.hitbox{
					display: flex;
					position: absolute;
					z-index: 10;
					margin: 10px;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					opacity: 0;
					transition: opacity .3s linear;
					background-color: rgba(0,0,0,0.7);
					
					.btn{
						margin: auto;
						padding: 10px 20px;
						color: #fff;
						border: solid 1px #fff;
						white-space: nowrap;
						letter-spacing: 2px;
						
					}
					
					&, & *{
						cursor: pointer;
						
					}
					
				}
				
				.name{
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					z-index: 5;
					margin: 0 10px 10px;
					padding: 10px;
					height: 60px;
					left: 0;
					right: 0;
					bottom: 0;
					background-color: rgba(0,0,0,0.5);
					color: #fff;
					text-align: center;
					text-transform: uppercase;
					
				}
				
				&:hover{
					
					.hitbox{
						opacity: 1;
						
					}
					
				}
				
				@media( min-width: 768px ){
					flex-basis: 50%;
					
				}
				
				@media( min-width: 1280px ){
					flex-basis: 25%;
					
				}
				
			}
			
		}
		
	}
	
}

#newsletter
{
	
	.msg{
		padding: 20px 0;
		font-family: var(--font-medium);
		font-size: 30px;
		text-align: center;
		
	}
	
}

footer{
	
	*{
		font-size: 18px;
		line-height: 36px;
		font-family: var(--font-light);
		
	}
	
	& > *{
		padding:{
			left: 20px;
			right: 20px;
		};
		
	}
	
	table{
		width: 100%;
		
	}
	
	.line_sep{
		border-bottom: 1px solid #666;
		
	}
	
	.kontakt{
		
		.inner{
			min-height: 76px;
			padding:{
				top: 10px;
				bottom: 10px;
			};
			
			.item{
				padding: 0 16px;
				color: rgba(255,255,255,.7);
				font:{
					size: 18px;
					family: var(--font-light);
				};
				
				.icon{
					padding-right: 27px;
					
					&.mobile{
						font-size: 50px;
						
					}
					
					&.phone,
					&.marker,
					&.mail{
						font-size: 35px;
						
					}
					
				}
				
			}
			
		}
		
	}
	
	.bottom{
		padding:{
			top: 30px;
			bottom: 30px;
			
		};
		min-height: initial;
		
		table{
			
			td{
				@media(min-width:1024px){
					&:nth-child(1){
						padding-right: 10px;
						
					}
					
					&:nth-child(2){
						padding-left: 10px;
						
					}
					
				}
				
			}
			
		}
		
	}
	
	.postext{
		padding:{
			top: 30px;
			bottom: 30px;
			
		};
		text-align: justify;
		font:{
			size: 18px;
			family: var(--font-light);
		};
		
		.textwidget{
			padding: 0 15px;
			
		}
		
	}
	
}

.rezerwuj-single{
	
	.grid{
		
		.container{
			
			.infobar{
				padding: 10px;
				margin-bottom: 20px;
				color: #fff;
				font-family: var(--font-light);
				letter-spacing: 1px;
				text-align: center;
				
				&.success{
					background-color: hsl(122, 93%, 35%);
				}
				
				&.fail{
					background-color: hsl(0, 93%, 45%);
					
				}
				
			}
			
			.wrapper{
				
				.details{
					
					.personal{
						
						.check2{
							margin-bottom: 24px;
							
						}
						
						.check-row{
							padding: 10px 20px;
							
						}
						
						.person{
							padding: 10px;
							margin-bottom: 50px;
							background-color: hsl( 0, 0%, 99% );
							border: 1px solid #ebebeb;
							
							& > .head{
								position: relative;
								padding: 10px 0;
								border-bottom: solid 1px hsl( 0, 0%, 80% );
								font-family: var(--font-medium);
								text-align: center;
								background-color: hsl( 0, 0%, 90% );
								
								.del{
									position: absolute;
									padding: 10px;
									top: 50%;
									right: 0;
									transform: translate( 0px, -50% );
									font-size: 20px;
									background-color: #fff;
									
								}
								
								&, & *{
									cursor: pointer;
									
								}
								
							}
							
							& > .body{
								margin-top: 10px;
								
							}
							
						}
						
						@media( min-width: 768px ){
							width: calc( 100% - 230px );
						}
						
					}
					
				}
				
			}
			
		}
		
	}
	
}

body{
	
	&.lato{
		$theme-color: var(--color-winter);
		$theme-color-invert: var(--color-summer);
		
		.theme-color{
			color: $theme-color;
			
			&.invert{
				color: $theme-color-invert;
				
			}
			
		}
		
		.theme-bg{
			background-color: $theme-color;
			
			&.invert{
				background-color: $theme-color-invert;
				
			}
			
		}
		
		.theme-border{
			
			&, & *{
				border-color: $theme-color;
				
			}
			
			&.invert{
				
				&, & *{
					border-color: $theme-color-invert;
					
				}
				
			}
			
			
		}
		
		header{
			
			nav{
				
				.menu{
					
					.dropdown{
						
						.drop-container{
							
							.item{
								
								a{
									
									&:hover{
										background-color: $theme-color;
										
									}
									
								}
								
							}
							
						}
						
					}
					
				}
				
			}
			
			#slider-main
			{
				
				.pagin{
					
					.item{
						border-color: $theme-color;
						
						&.active{
							background-color: $theme-color;
							
						}
						
					}
					
				}
				
			}
			
			footer{
				
				.kontakt{
					
					.icon{
						color: $theme-color;
						
					}
					
				}
				
			}
			
		}
		
		&#oferta-single
		{
			
			.single{
				
				.container{
					
					.content{
						
						h1, h2, h3, h4, h5, h6{
							color: $theme-color;
							
						}
						
					}
					
					ul{
						
						li{
							
							&::before{
								border: 2px solid $theme-color;
								
							}
							
						}
						
					}
					
				}
				
				.kafelki{
					
					.title{
						
						span{
							color: $theme-color;
							
						}
						
					}
					
				}
				
			}
			
		}
		
	}
	
	&.zima{
		$theme-color: var(--color-summer);
		$theme-color-invert: var(--color-winter);
		
		.theme-color{
			color: $theme-color;
			
			&.invert{
				color: $theme-color-invert;
				
			}
			
		}
		
		.theme-bg{
			background-color: $theme-color;
			
			&.invert{
				background-color: $theme-color-invert;
				
			}
			
		}
		
		.theme-border{
			
			&, & *{
				border-color: $theme-color;
				
			}
			
			&.invert{
				
				&, & *{
					border-color: $theme-color-invert;
					
				}
				
			}
			
			
		}
		
		header{
			
			nav{
				
				.menu{
					
					.dropdown{
						
						.drop-container{
							
							.item{
								
								a{
									
									&:hover{
										background-color: $theme-color;
										
									}
									
								}
								
							}
							
						}
						
					}
					
				}
				
			}
			
			#slider-main
			{
				
				.pagin{
					
					.item{
						border-color: $theme-color;
						
						&.active{
							background-color: $theme-color;
							
						}
						
					}
					
				}
				
			}
			
			footer{
				
				.kontakt{
					
					.icon{
						color: $theme-color;
						
					}
					
				}
				
			}
			
		}
		
		&#oferta-single
		{
			
			.single{
				
				.container{
					
					.content{
						
						h1, h2, h3, h4, h5, h6{
							color: $theme-color;
							
						}
						
						ul{
							
							li{
								
								&::before{
									border: 2px solid $theme-color;
									
								}
								
							}
							
						}
						
					}
					
				}
				
				.kafelki{
					
					.title{
						
						span{
							color: $theme-color;
							
						}
						
					}
					
				}
				
			}
			
		}
		
	}
	
	header{
		
		.poster{
			
			.content{
				
				h2{
					text-shadow: none;
					
				}
				
			}
			
		}
		
		.nav-act{
		
			.grid{
				
				.container{
					
					.bar{
						
						.select{
							padding: 0;
							
							.select-head{
								padding: 0 20px;
								
							}
							
							.select-options{
								
								.option{
									padding: 0 20px;
									
								}
								
							}
							
						}
						
						@media( max-width: 767px ){
							height: initial;
							
							.select{
								padding: 0;
							
								&, &:nth-of-type(2){
									flex-basis: initial;
									
								}
								
								.select-head{
									padding: 20px 5px;
									
								}
								
								.select-options{
									position: static;
									display: block;
									
									.option{
										margin: 10px 5px;
										border: solid 1px #fff !important;
										
									}
									
								}
								
							}
							
						}
						
					}
					
				}
				
			}
			
		}
		
		nav{
			
			.menu{
				text-transform: uppercase;
				
				.dropdown{
					
					.drop-container{
						
						.item{
							
							a{
								height: 60px;
								padding: 0 20px 0 40px;
								font-family: var(--font-medium);
								transition: background 0.3s linear;
								
								img{
									padding-left: 20px;
									
								}
								
								&:hover{
									color: #fff;
									
								}
								
							}
							
						}
						
					}
					
				}
				
			}
			
			.logo{
				
				img{
					max-width: 100%;
					
				}
				
			}
			
		}
		
	}
	
}

#oferta-single
{
	
	$dark: #2d2d2d;
	$light: #fff;
	$border: #ebebeb;
	
	@mixin header(){
		background-color: $dark;
		color: $light;
		font-size: 14px;
		font-family: var(--font-medium);
		
	}
	
	@mixin ul_zegar(){
		list-style: none;
		
		li{
			position: relative;
			padding-left: 40px !important;
			margin: 20px 0;
			
			&::before{
				content: '';
				position: absolute;
				width: 30px !important;
				height: 30px !important;
				top: 0;
				left: 0;
				border: none !important;
				background:{
					position: center;
					repeat: no-repeat;
					size: contain;
					image: url( ../img/icons/czas.png );
				};
				
			}
			
		}
	}
	
	.single{
		
		.container{
			
			.content{
				text-align: initial;
				font-family: var(--font-light);
				line-height: 1.5em;
				
				h1, h2, h3, h4, h5, h6{
					font-family: var(--font-medium);
					padding: 20px 0;
					
				}
				
				h3{
					font-size: 1.17em;
					
				}
				
				strong{
					display: inline-block;
					font-family: var(--font-light);
					line-height: 1.5em;
					
				}
				
				p{
					padding: initial;
					font-size: 1em;
					
				}
				
			}
			
		}
		
		.kafelki{
			margin: 50px 0;
			
			.title{
				padding: 20px 0;
				text-align: center;
				color: initial;
				font-family: var(--font-light);
				
			}
			
			.item{
				position: relative;
				height: 280px;
				padding: 10px;
				background:{
					size: cover;
					position: center;
					clip: content-box;
					origin: content-box;
				};
				overflow: hidden;
				font-family: var(--font-medium);
				
				.hitbox{
					position: absolute;
					margin: 10px;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 10;
					background-color: rgba( 0, 0, 0, 0.7 );
					opacity: 0;
					transition: opacity 0.3s linear;
					
					&, & *{
						cursor: pointer;
						
					}
					
					.btn{
						margin: auto;
						padding: 10px 20px;
						color: #fff;
						border: solid 1px #fff;
						white-space: nowrap;
						letter-spacing: 2px;
						
					}
					
				}
				
				.name{
					position: absolute;
					z-index: 5;
					margin: 0 10px 10px;
					padding: 10px;
					height: 60px;
					left: 0;
					right: 0;
					bottom: 0;
					background-color: rgba( 0, 0, 0, 0.5 );
					color: #fff;
					text-align: center;
					text-transform: uppercase;
					
				}
				
				&:hover{
					
					.hitbox{
						opacity: 1;
						
					}
					
				}
				
			}
			
		}
		
		.tabela{
			
			& > .img{
				
				img{
					
				}
				
				@media(min-width: 1024px){
					padding-right: 20px;
					
				}
				
			}
			
			& > .info{
				
				.bar{
					
					.head{
						padding: 0 20px;
						height: 74px;
						box-shadow: 0 0 0px 1px #ebebeb inset;
						
						.icon{
							max-width: 46px;
							max-height: 46px;
							
						}
						
						.text{
							padding-left: 20px;
							font-size: 16px;
							font-family: var(--font-medium);
							
						}
						
					}
					
					.body{
						padding: 34px 20px;
						font-family: var(--font-light);
						
						ul{
							list-style: none;
							
						}
						
						& *{
							line-height: 30px;
							
						}
						
					}
					
				}
				
			}
			
		}
		
		.zakladki{
			
			.top{
				padding: 50px 0;
				
				.img{
					
					img{
						max-width: 200px;
						
					}
					
				}
				
				.text{
					font-size: 16px;
					line-height: 30px;
					text-align: center;
					text-transform: uppercase;
					font-family: var(--font-medium);
					
				}
				
			}
			
			.head{
				border:{
					style: solid;
					width: 0 0 6px 0;
				};
				
				.item{
					position: relative;
					transition-property: background, font;
					transition: .3s linear;
					padding: 0 16px;
					height: 74px;
					cursor: pointer;
					font-size: 18px;
					font-family: var(--font-light);
					color: #fff;
					text-align: center;
					text-transform: uppercase;
					
					&:not(:hover):not(.active){
						background-color: transparent;
						color: #2d2d2d;
						
					}
					
					@media( min-width: 1024px ){
						
						&:not(:last-child)::before{
							content: '';
							position: absolute;
							margin: 20px 0;
							top: 0;
							right: 0;
							bottom: 0;
							border:{
								style: solid;
								width: 0 1px 0 0;
								color: inherit;
							};
							
						}
						
					}
					
				}
				
			}
			
			.tabs{
				
				.item{
					padding: 60px 0;
					font-family: var(--font-light);
					font-size: 16px;
					
					strong{
						font-family: var(--font-medium);
						font-size: 18px;
						
					}
					
					&, & *{
						line-height: 30px;
						
					}
					
					&:not(.active){
						display: none;
						
					}
					
					&.program_kursu{
						
						ul{
							@include ul_zegar();
							
						}
						
					}
					
					&.dlaczego_kurs,
					&.informacje,
					&.cennik
					{
						
						ul{
							list-style: none;
							border-color: inherit;
							
							li{
								position: relative;
								padding-left: 40px;
								margin: 20px 0;
								border-color: inherit;
								
								&::before{
									content: '';
									position: absolute;
									margin-top: 15px;
									top: 0;
									left: 0;
									width: 10px;
									height: 10px;
									border:{
										style: solid;
										width: 3px;
										color: inherit;
										radius: 50%;
									}
									transform: translate( 0, -50% );
									
								}
								
							}
							
						}
						
					}
					
					&.harmonogram{
						
						ul{
							@include ul_zegar();
							
						}
						
					}
					
				}
				
			}
			
		}
		
		.galeria{
			
			.title{
				margin: 20px 0;
				text-align: center;
				font-size: 20px;
				font-family: var(--font-medium);
				
			}
			
			.item{
				position: relative;
				display: block;
				padding: 6px;
				height: 300px;
				background:{
					size: cover;
					position: center;
					clip: content-box;
					origin: content-box;
				};
				
				.hitbox{
					position: absolute;
					margin: 6px;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 1;
					
				}
				
			}
			
		}
		
		img{
			max-width: 100%;
			max-height: 100%;
			height: auto;
			
		}
		
		.su-tabs{
			padding: 0;
			
			.su-tabs-nav{
				display: flex;
				flex-direction: column;
				margin-bottom: 4px;
				
				span{
					display: flex;
					align-items: center;
					justify-content: center;
					flex-basis: 100%;
					margin: 0;
					transition-property: background, font;
					transition: .3s linear;
					background-color: #fff;
					text-align: center;
					border-radius: 0;
					
					&.su-tabs-current,
					&:hover{
						background-color: transparent;
						color: #fff;
						
					}
					
				}
				
				@media(min-width: 1024px){
					flex-direction: row;
					
				}
				
			}
			
			.su-tabs-panes{
				
					.su-tabs-pane{
						
					}
					
			}
			
		}
		
		ul.zegar{
			@include ul_zegar();
			
		}
		
		ul{
			list-style: none;
			padding: 30px 0;
			
			li{
				position: relative;
				margin-bottom: 10px;
				padding-left: 30px;
				line-height: 2em;
				
				h1, h2, h3, h4, h5, h6{
					padding-top: 10px;
					
				}
				
				&::before{
					content: '';
					position: absolute;
					top: 10px;
					left: 0;
					height: 12px;
					width: 12px;
					border-radius: 50%;
					
				}
				
			}
			
			ul{
				padding: 0;
				
			}
			
		}
		
	}
	
	&.wypozyczalnia{
		
		.single{
			
			table{
		border-collapse: collapse;
		
		tr{
			
			td{
				border: solid 1px #ebebeb;
				padding: 5px 10px;
				
				img{
					display: block;
					margin: auto;
					padding: 10px;
					
				}
				
			}
			
		}
		
		thead{
			
			td{
				padding: 15px;
				min-height: 60px;
				line-height: 30px;
				font-family: var(--font-bold);
				
			}
			
		}
		
		tbody{
			
			td{
				font-family: var(--font-medium);
				
				&:first-child{
					padding: 0;
					width: 33%;
					
				}
				
				&:nth-child(2){
					
					p{
						font-family: var(--font-light);
						
						strong{
							font-family: var(--font-medium) !important;
							
						}
						
					}
					
				}
				
				@media( max-width: 767px ){
					display: block;
					
					&:first-child{
						width: initial;
						
					}
					
				}
				
			}
			
		}
		
		@media( max-width: 767px ){
			
			td{
				display: block;
				
			}
			
		}
		
	}
	
			
		}
		
	}
	
	&.wypozyczalnia-kajakow{
		
		table{
			width: 100%;
			border-collapse: collapse;
			
			img{
				width: initial;
				max-width: 100%;
				
			}
			
			tr{
				display: flex;
				
				td{
					flex-basis: 100%;
					
				}
				
			}
			
			thead{
				
				td{
					@include header();
					line-height: 60px;
					font-size: 18px;
					text-align: center;
					text-transform: uppercase;
					letter-spacing: 1px;
					
				}
				
			}
			
			tbody{
				
				tr{
					align-items: center;
					flex-direction: column;
					
					td{
						padding: 20px;
						align-items: center;
						
						p{
							line-height: 30px;
							font-size: 15px;
							font-family: var(--font-light);
							
						}
						
						&:nth-child(1){
							flex-basis: 33%;
							
						}
						
						&:nth-child(2){
							flex-grow: 1;
							
						}
						
						
					}
					
					@media(min-width:768px){
						flex-direction: row;
						
					}
					
					
				}
				
			}
			
		}
		
	}
	
	&.szkolenia-grupowe{
		
		table{
			width: 100%;
			border-collapse: collapse;
			
			tr{
				border-bottom: solid 1px $border;
				
				td{
					line-height: 60px;
					text-align: center;
					
				}
				
			}
			
			thead{
				
				tr{
					
					td{
						background-color: $dark;
						color: $light;
						font-family: var(--font-medium);
						text-transform: uppercase;
						
					}
					
				}
				
			}
			
			tbody{
				
				tr{
					
					td{
						font-family: var(--font-sec-black);
						
					}
					
				}
				
			}
			
			&.mobile{
				
				thead{
					
					tr{
						
						td{
							
						}
						
					}
					
				}
				
				tbody{
					
					tr{
						
						td{
							width: 33%;
							border: solid $border;
							border-width: 0 1px 1px 0;
							
						}
						
						&:nth-child(2n){
							
							td:not([rowspan]){
								background-color: $border;
								
							}
							
						}
						
					}
					
				}
				
				@media(min-width:1024px){
					display: none;
					
				}
				
			}
			
			&.std{
				
				tr{
					display: flex;
					
					td{
						flex-basis: 100%;
						
					}
					
				}
				
				tbody{
					
					tr{
						
						td{
							
						}
						
						&:nth-child(2n+3){
							background-color: $border;
							
						}
						
						&:first-child td,
						& td:first-child{
							opacity: 0.6;
							
						}
						
					}
					
				}
				
				@media(max-width:1023px){
					display: none;
					
				}
				
			}
			
		}
		
	}
	
	&.szkolenia-head{
		
		table{
			width: 100%;
			border-collapse: collapse;
			
			tr{
				display: flex;
				
				td{
					flex-basis: 100%;
					line-height: 60px;
					text-align: center;
					border: solid $border;
					border-width: 0 1px 1px 0;
					border-collapse: collapse;
					
				}
				
			}
			
			thead{
				
				tr{
					
					td{
						background-color: $dark;
						color: $light;
						text-transform: uppercase;
						font-family: var(--font-medium);
						font-size: 18px;
						
					}
					
				}
				
			}
			
			tbody{
				
				tr{
					
					td{
						font-family: var(--font-sec-black);
						
					}
					
					&:nth-child(2n){
						
						td:not(:first-child){
							background-color: $border;
							
						}
						
					}
					
					&:first-child,
					& td:first-child{
						opacity: 0.6;
						
					}
					
				}
				
			}
			
		}
		
	}

	&.szkolenia-indywidualne{
		
		table{
			width: 100%;
			border-collapse: collapse;
			
			tr{
				border-bottom: solid 1px $border;
				
				td{
					line-height: 60px;
					text-align: center;
					
				}
				
			}
			
			thead{
				
				tr{
					
					td{
						background-color: $dark;
						color: $light;
						font-family: var(--font-medium);
						text-transform: uppercase;
						
					}
					
				}
				
			}
			
			tbody{
				
				tr{
					
					td{
						font-family: var(--font-sec-black);
						
					}
					
				}
				
			}
			
			&.mobile{
				
				thead{
					
					tr{
						
						td{
							
						}
						
					}
					
				}
				
				tbody{
					
					tr{
						
						td{
							width: 33%;
							border: solid $border;
							border-width: 0 1px 1px 0;
							
						}
						
						&:nth-child(2n){
							
							td:not([rowspan]){
								background-color: $border;
								
							}
							
						}
						
					}
					
				}
				
				@media(min-width:1024px){
					display: none;
					
				}
				
			}
			
			&.std{
				
				tr{
					display: flex;
					
					td{
						flex-basis: 100%;
						
					}
					
				}
				
				tbody{
					
					tr{
						
						td{
							
						}
						
						&:nth-child(2n+3){
							background-color: $border;
							
						}
						
						&:first-child td,
						& td:first-child{
							opacity: 0.6;
							
						}
						
					}
					
				}
				
				@media(max-width:1023px){
					display: none;
					
				}
				
			}
			
		}
		
	}
	
	&.stubai-austria{
		
		table{
			width: 100%;
			border-collapse: collapse;
			
			tr{
				display: flex;
				
				td{
					flex-basis: 100%;
					padding: 0 10px;
					line-height: 60px;
					font-size: 16px;
					text-align: center;
					border-bottom: solid 1px $border;
					
				}
				
				&:nth-child(2n+1){
					background-color: $border;
					
				}
				
			}
			
		}
		
	}
	
}

#kontakt
{
	
	.notify{
		padding: 10px 20px;
		margin-bottom: 20px;
		color: #fff;
		text-align: center;
		font-family: var(--font-light);
		font-size: 20px;
		letter-spacing: 1px;
		line-height: 30px;
		
		&.success{
			background-color: hsla(120, 70%, 30%, 1);
		}
		
		&.fail{
			background-color: hsla(0, 100%, 30%, 1);
			
		}
		
		&, & *{
			cursor: pointer;
			
		}
		
	}
	
	.kontakt{
		
		.grid{
			
			.container{
				
				.content{
					
					.row{
						
						.box{
							padding: 15px 15px 15px 40px;
							justify-content: start;
							
						}
						
					}
					
					.row2{
						
						.box{
							height: initial;
							min-height: 188px;
							
						}
						
					}
					
				}
				
			}
			
		}
		
	}
	
	.zgoda{
		margin: 20px;
		height: initial;
		
		& + label{
			padding: 10px;
			text-transform: none;
			
		}
		
		&.invalid + label{
			border: solid 2px red;
			
		}
		
	}
	
	form{
		
		.form-row{
			
			.item{
				margin-bottom: 10px;
				
				label{
					font:{
						family: var(--font-light);
						size: 12px;
					}
					line-height: 20px;
					
				}
				
			}
			
		}
		
		button[type=submit]{
			background-color: transparent;
			border: none;
		}
		
	}
	
}

#aktualnosci
{
	
	.aktualnosci{
		padding-bottom: 80px;
		
		.share{
			position: relative;
			
			& > .icon{
				margin-right: 10px;
				width: 30px;
				height: 30px;
				
				img{
					margin: auto;
					
				}
				
			}
			
			.text{
				font:{
					size: 12px;
					family: var(--font-third-bold);
				}
				text-transform: uppercase
				
			}
			
			.links{
				position: absolute;
				padding: 10px;
				left: 0;
				top: 100%;
				background-color: #fff;
				border-radius: 10px;
				box-shadow: 2px 2px 0px 1px rgba( 0, 0, 0, 0.3 );
				
				.link{
					display: inline-block;
					margin: 10px;
					font-size: 40px;
					
				}
				
			}
			
			&:not(:hover){
				
				.links{
					display: none;
					
				}
				
			}
			
			&, & *{
				cursor: pointer;
				
			}
			
		}
		
	}
	
}

.contact-bar{
	
	.container{
		
		.buttons{
			
			.item{
				
				.textwidget{
					position: relative;
					width: 100%;
					
					p{
						
						a{
							position: absolute;
							display: flex;
							align-items: center;
							justify-content: center;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							transition-property: background, font;
							transition: .3s linear;
							font-family: var(--font-medium);
							font-size: 18px;
							text-align: center;
							
							&:hover,
							&.active{
								color: #fff;
								
							}
							
							&:not(:hover){
								background-color: #fff;
								
							}
							
							&.active{
								background-color: transparent;
								
							}
							
						}
						
					}
					
				}
				
			}
			
		}
		
	}
	
}

#breadcrumbs
{
	
	strong{
		font-family: var(--font-light);
		
	}
	
}

#oferta
{
	
	.container{
		
		.row{
			padding: 10px 0;
			
			.destiny{
				
				.cover{
					opacity: 1;
					
				}
				
				h3{
					color: #fff;
					
				}
				
			}
			
		}
		
	}
	
}

#partner_slider
{
	
	.view{
		
		.element{
			
			.inner{
				
				img{
					max-width: 100%;
					max-height: 100%;
					
				}
				
			}
			
		}
		
	}
	
}

#o-nas
{
	
	.side{
		
		a{
			
			&:hover{
				
				.arrow{
					background-image: url( '../img/arrow_white.png' ) !important;
					
				}
				
			}
			
			&:not(:hover){
				background-color: transparent;
				
			}
			
		}
		
	}
	
}

#form-side
{
	width: 100%;
	max-width: 478px;
	order: 1;
	border: 1px solid #ebebeb;
	margin-bottom: 60px;
	
	@mixin tableHead{
		padding-left: 30px;
		height: 68px;
		background-color: transparent;
		line-height: 1.5em;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 26px;
		font-family: var(--font-medium);
		
	}
	
	table{
		width: 100%;
		border: none;
		border-collapse: collapse;
		
		thead{
			
			tr{
				
				td{
					@include tableHead;
					
				}
				
			}
			
		}
		
		tbody{
			
			tr{
				
				td{
					padding: 20px 20px 20px 30px;
					background-color: #fff;
					font-size: 16px;
					font-family: var(--font-light);
					line-height: 2.1em;
					
				}
				
				&:first-child{
					
					td{
						@include tableHead;
					}
					
				}
				
			}
			
		}
		
	}
	
	@media(min-width: 1440px){
		margin-left: 20px;
		
	}
	
}

#rezerwuj
{
	
	form{
		
		[type=submit]{
			margin: 30px 0;
			
		}
		
	}
	
	.cennik{
		
		.cell{
			position: relative;
			padding: 5px 10px;
			height: 30px;
			white-space: nowrap;
			font-family: var(--font-light);
			
			&::after{
				content: '';
				margin: -0.5px;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border: solid 1px black;
				
			}
			
		}
		
		.clm{
			
		}
		
		.godziny{
			
			.cell{
				font-family: var(--font-medium);
				
			}
			
		}
		
		.osoby{
			overflow: auto;
			padding-bottom: 1px;
			
			.clm{
				
				.cell{
					
					&:first-child{
						font-family: var(--font-medium);
						
					}
					
				}
				
				&:nth-child( odd ){
					background-color: #eee;
					
				}
				
			}
			
		}
		
	}
	
	.nav-act{
		
		.container{
			height: initial;
			
		}
		
	}
	
}

#page
{
	padding-top: 30px;
	
	*{
		line-height: 30px;
		
	}
	
	strong{
		font-family: var(--font-medium);
		
	}
	
	ol, ul{
		margin-top: 20px;
		list-style-position: inside;
		
		li{
			margin-bottom: 20px;
			
		}
		
	}
	
	.content{
		padding: 0 20px;
		
	}
	
}

.news{
	
	.inner{
		
		.label{
			
			.text{
				font-family: var(--font-light);
				
				img{
					display: none !important;
					
				}
				
			}
			
		}
		
	}
	
}


